<div class="emoji-selector-main">
  <p class="question">How you feeling today my chommie?</p>

  <!-- Emoji Images -->
  <div class="emoji-img">
    <img src="assets/img/5.png" />
    <img src="assets/img/4.png" />
    <img src="assets/img/3.png" />
    <img src="assets/img/2.png" />
    <img src="assets/img/1.png" />
  </div>
  <!-- Emoji Images End -->

  <!-- Emoji Number Part -->
  <div class="emoji-number">
    <div class="circle red"></div>

    <div class="line-group">
      <div class="line first">
      </div>
      <p class="number">
        1
      </p>
    </div>

    <div class="line-group">
      <div class="line second">
      </div>
      <p class="number">
        2
      </p>
    </div>

    <div class="line-group">
      <div class="line third">
      </div>
      <p class="number">
        3
      </p>
    </div>

    <div class="line-group">
      <div class="line fourth">
      </div>
      <p class="number">
        4
      </p>
    </div>

    <div class="line-group">
      <div class="line fifth">
      </div>
      <p class="number">
        5
      </p>
    </div>

    <div class="circle green"></div>
  </div>
  <!-- Emoji Number End -->

</div>
