.feel-pain-main {
  p {
    margin : 0px;
  }

  background-color: white;

  .desc {
    font-size : 20px;
    color : rgb(179,16,16);
    font-weight: 800;
  }

  .detail {
    font-size : 14px;
  }
}
