<ion-content>
  <div class="dictionary-main">
    <p class="section-title">
      Alternative treatment:
    </p>
    <p class="desc">
      The SCD Health Tracker App is an online and offline app that management SCD healthcare. The online version requires registration as it automatically uploads user data to the SickleInAfrica servers, while the offline default app version saves this data on your device. Please read the Privacy Policy for more information and select which
    </p>

    <ion-item>
      <ion-label>Alternative treatment:</ion-label>
      <ion-select>
        <ion-select-option value="apples">Apples</ion-select-option>
        <ion-select-option value="oranges">Oranges</ion-select-option>
        <ion-select-option value="bananas">Bananas</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Alternative treatment:</ion-label>
      <ion-select>
        <ion-select-option value="apples">Apples</ion-select-option>
        <ion-select-option value="oranges">Oranges</ion-select-option>
        <ion-select-option value="bananas">Bananas</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Alternative treatment:</ion-label>
      <ion-select>
        <ion-select-option value="apples">Apples</ion-select-option>
        <ion-select-option value="oranges">Oranges</ion-select-option>
        <ion-select-option value="bananas">Bananas</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Alternative treatment:</ion-label>
      <ion-select>
        <ion-select-option value="apples">Apples</ion-select-option>
        <ion-select-option value="oranges">Oranges</ion-select-option>
        <ion-select-option value="bananas">Bananas</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
</ion-content>
