<div class="how-much-water-main"
>
  <p class="section-title">
    How much water/fluids have you had?<span class="desc">(past 24hrs)</span>
  </p>

  <div class="wheel-selector">
    <app-wheel-selector [selected_value]="5" [min]="1" [max]="10" [offset]="1" ></app-wheel-selector>
    <p class="suffix">classes</p>
  </div>

  <p class="section-title">Food intake</p>

  <ion-textarea rows="5" class="custom-textarea" placeholder="Eg. plate of curry, a plate of veggies and some fish and chips, and some sweeties"></ion-textarea>

</div>
