.how-much-sleep-main {
  p {
    margin : 0px;
  }

  .question {
    font-size: 20px;
    color : rgb(179,16,16);
    font-weight : 800;
  }

  ion-slides {
    height: 30px;

    color: rgb(179,16,16);
  }

  .time-selector {
    padding-top: 100px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap : 30px;

    .hours {
      color : gray;
    }

    .minutes {
      color : gray;
    }
  }
}
