<ion-header>
  <div class="edit-profile-header">
    <a routerLink="/setting"><ion-icon name="arrow-back-outline"></ion-icon></a>
    <p >Edit Profile</p>
    <div></div>
  </div>
</ion-header>

<ion-content>
  <div class="edit-profile-main">
    <p class="title">My Profile</p>

    <div class="row">
      <ion-item>
        <ion-label position="stacked">First Name</ion-label>
        <ion-input [clearOnEdit]="true" placeholder=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Last Name</ion-label>
        <ion-input [clearOnEdit]="true" placeholder=""></ion-input>
      </ion-item>
    </div>

    <div class="row">
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input [clearOnEdit]="true" placeholder=""></ion-input>
      </ion-item>
    </div>

    <div class="row">
      <ion-item>
        <ion-label position="stacked">Birthday</ion-label>
        <ion-input [clearOnEdit]="true" placeholder=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Zip code</ion-label>
        <ion-input [clearOnEdit]="true" placeholder=""></ion-input>
      </ion-item>
    </div>

    <div class="row">
      <ion-item>
        <ion-label position="stacked">Country</ion-label>
        <ion-input [clearOnEdit]="true" placeholder=""></ion-input>
      </ion-item>
    </div>

    <div class="row">
      <ion-item>
        <ion-label position="stacked">Ethnicity</ion-label>
        <ion-input [clearOnEdit]="true" placeholder=""></ion-input>
      </ion-item>
    </div>

    <div class="row">
      <ion-item>
        <ion-label position="stacked">Height</ion-label>
        <ion-input [clearOnEdit]="true" placeholder=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Weight</ion-label>
        <ion-input [clearOnEdit]="true" placeholder=""></ion-input>
      </ion-item>
    </div>

    <div class="row">
      <ion-item>
        <ion-label position="stacked">Gender</ion-label>
        <ion-input [clearOnEdit]="true" placeholder=""></ion-input>
      </ion-item>
    </div>

    <div class="save-btn-container">
      <ion-button >Save</ion-button>
    </div>
  </div>
</ion-content>
