<ion-header>
  <div class="about-sickle-header">
    <a routerLink="/setting"><ion-icon name="arrow-back-outline"></ion-icon></a>
    <p >About Wave Health</p>
    <div></div>
  </div>
</ion-header>
<ion-content>
  <div class="about-sickle-main">
    <div class="section">
      <p class="section-title">
        Wave | About
      </p>
      <p class="desc">
        Wave is a mobile health application that helps chronic illness patients track their activities and overall condition and provides them with insights that enable them to work more effectively with their support team to better control the side effects and symptoms they experience.
      </p>

      <p class="desc">
        Wave is a mobile health application that helps chronic illness patients track their activities and overall condition and provides them with insights that enable them to work more effectively with their support team to better control the side effects and symptoms they experience.
      </p>

      <p class="desc">
        Wave is a mobile health application that helps chronic illness patients track their activities and overall condition and provides them with insights that enable them to work more effectively with their support team to better control the side effects and symptoms they experience.
      </p>
    </div>

    <div class="section">
      <p class="section-title">
        Our Mission
      </p>
      <p class="desc">
        Wave is dedicated to improving treatment experiences and outcomes ofr chronic illness patients facing negative symptoms and health concerns. By helping to track your condition, symptoms, mood and activities, and providing personal insights, our goal is to help patients and caregivers work more effectively with care providers to better manage the emotional and physical rollercoaster of ilness - to provider a bit of control in a seemingly out-of-control
      </p>
    </div>
  </div>
</ion-content>
