<div class="question-medical-main">

  <!-- 1th Part Start -->
  <p class="section-title">
    What medication/remedy did you take for your pain?
  </p>

  <div class="medication-list">
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Hydroxyurea</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Paracetamol</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>None</ion-label>
    </ion-item>
  </div>

  <p class="desc">
    Alternative treatment:
  </p>

  <ion-item>
    <ion-input [clearOnEdit]="true" placeholder="eg.Casava leaves"></ion-input>
  </ion-item>
  <!-- End 1th Part -->
</div>
